@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: #f9f5f0;
  --sand: #ede6dc;
  --terracotta: #b36b4d;
  --charcoal: #2c2622;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-cream text-charcoal antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
